---
- name: Change user password
  hosts: "{{ target_hosts | default('mikrotik_all') }}"
  gather_facts: false
  
  vars:
    username: "{{ target_username }}"
    new_password: "{{ password }}"
  
  tasks:
    - name: Check user exists
      community.routeros.command:
        commands:
          - /user print where name="{{ username }}"
      register: user_exists
    
    - name: Fail if user doesn't exist
      fail:
        msg: "User {{ username }} does not exist"
      when: user_exists.stdout == ""
    
    - name: Change password
      community.routeros.command:
        commands:
          - /user set [find name="{{ username }}"] password="{{ new_password }}"
      register: password_changed
      no_log: true
    
    - name: Verify password change
      debug:
        msg: "Password changed for {{ username }} on {{ inventory_hostname }}"
